<div class="body">  
  <div class="row header" style="height: 13vh;">
    <div class="col-6">
      <div class="row">
        <div class="col-3" style="text-align: right;"> 
            <img src="http://surehis.com/resource/common/Logo.png" style="height: 63px;width: 63px;" >
        </div>
        <div class="col-9">          
            <div style="font-size: 24pt;text-align: center ">BỆNH VIỆN ĐA KHOA MỸ PHƯỚC</div>
            <div style="font-size: 12pt;text-align: center ">Ân cần - Nhanh chóng - An toàn</div>
        </div>     
    </div>
    </div>
    <div style="display: grid; place-items: center right; font-size: 15pt" class="col-6 text-capitalize">
       <div> {{date}}</div>
       <div> {{locate}}</div>
    </div>
</div>
<div class="row GrHeader" style="border-bottom: 1px solid white;height: 8vh;">
    <div class="col-6" style="display: grid; place-items: center center;">
      Hàng chờ bệnh nhân
    </div>
    <div class="col-6" style="display: grid; place-items: center center;">
      Chờ kết quả
    </div>
</div>
<div class="row itemHeader" style="height: 8vh;">
    <div class="col-6">
      <div class="row patientQ">
          <div class="col-4">
            Số thứ tự
          </div>
          <div class="col-3">
            Phòng số
          </div>
          <div class="col-5">
            Nội dung xếp hàng
          </div>
      </div>
    </div>
    <div class="col-6 resultQ">
        <div class="row">
            <div class="col-4">
              Số thứ tự
            </div>
            <div class="col-3">
              Phòng số
            </div>
            <div class="col-5">
              Nội dung xếp hàng
            </div>    
        </div>
    </div>
</div>


<div class="row contentQ" style="height: 100vh;">
    <div class="col-6">
      <div class="row patientQ" *ngFor="let item of patientQ" style="height: 9%;" [ngStyle]="{'color': item.isHighlight ? 'red' : 'white' }">
          <div class="col-4 itemQ" style="font-size: 18pt">
           <span>{{item.SequenceNo}}</span>
          </div>
          <div class="col-3 itemQ" >
              <span>{{item.RoomName}}</span>
          </div>
          <div class="col-5 itemQ" >
              <span>{{item.Contents}}</span>
          </div>
      </div>
    </div>
    <div class="col-6 resultQ">
        <div class="row" *ngFor="let item of resultQ" style="height: 9%;" [ngStyle]="{'color': item.isHighlight ? 'red' : 'white' }">
            <div class="col-4 itemQ" style="font-size: 18pt">
                <span>{{item.SequenceNo}}</span>
            </div>
            <div class="col-3 itemQ" >
                <span>{{item.RoomName}}</span>
            </div>
            <div class="col-5 itemQ" >
                <span>{{item.Contents}}</span>
            </div>    
        </div>
    </div>
</div>
  
</div>